/*Basic structure of page*/
html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
  background: ghostwhite;
  font-family: 'Cardo', serif;
}

/*header styling rules*/
header {
  background-color: #2B2B2B;
  width: 101%;
  height: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav-right {
  position: absolute;
  right: 0;
  height: 9rem;
  width: 20rem;
}

.nav-icon {
  position: relative;
  top: .5rem;
  margin-right: 1rem;
}

img {
  height: 2rem;
  width: 2rem;
}

ul {
  margin: 2rem;
  color: #ffffff;
  padding: 0;
}

li {
  font-size: 1.5rem;
  margin-right: 1rem;
  list-style-type: none;
}

.admin-user {
  color: #2D6682;
  margin: 0 0 .7rem 0;
}

.down-arrow {
  height: 1rem;
  width: 1rem;
  margin-bottom: .3rem;
}
/*end of header styles*/

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47rem;
  width: 97%;
  box-shadow: 0px 5px 10px #777;
  margin: .5rem;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  word-wrap: break-word;
  padding: 1rem;
}

a:link{
  color: #65CCB8;
}

.anchor-container {
  background-color: #302F2F;
  margin: 1.5rem;
  height: 6rem;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  color: #5B5337;
  font-size: 3rem;
}

.view-number {
  color: #55bfea;
  font-size: 3.5rem;
  margin-top: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  margin-bottom: .1rem;
  margin-top: 0;
  /*margin: 0 0 .1 1.5rem;*/
}

.title {
  margin-top: 1.5rem;
}

h4 {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 0;
}

h6 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  margin-top: 1.7rem;
}

p {
  font-size: 1.3rem;
  margin-left: 1.7rem;
  margin-top: 0.2rem;
 }

.circle {
  height: 7rem;
  width: 7rem;
  margin: 1.5rem 0 0 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-right {
  color: #55bfea;
  align-self: flex-end;
  position: absolute;
  right: 3.5rem;
}

.bottom-number {
  color: #822d66;
  font-size: 3rem;
  margin: 0 1.3rem;
}

.logo {
  height: 6rem;
  width: 10rem;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*the eight differnt cards, by class*/
.shares-banner {
  margin: 2rem;
}

.next-arrow{
  height: 4rem;
  width: 4rem;
}

.one {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.one-top {
  background-image: url("images/violin.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.one-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.two {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.two-top {
  background-image: url("images/synth.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.two-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.three {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.three-top {
  background-image: url("images/rhodes.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.three-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.four {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.four-top {
  background-image: url("images/epiphone.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.four-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.five {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.five-top {
  background-image: url("images/rickenbackerbass.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.five-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.six {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.six-top {
  background-image: url("images/wurlitzer.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.six-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.seven {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.seven-top {
  background-image: url("images/b3.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.seven-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.eight {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.eight-top {
  background-image: url("images/glockenspiel.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.eight-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

@media screen and (min-width: 550px){
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  li {
    display: inline-block;
  }
}

@media screen and (min-width: 950px){
  main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  li {
    display: inline-block;
  }
}

@media screen and (min-width: 1160px){
  main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  li {
    display: inline-block;
  }
}
