/*Basic structure of page*/
html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
  background: ghostwhite;
  font-family: 'Cardo', serif;
}

header {
  background-color: #2B2B2B;
  width: 101%;
  height: 10rem;
}

ul {
  margin: 0;
  color: #ffffff;
}

li {
  display: inline-block;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47rem;
  width: 90%;
  box-shadow: 0px 5px 10px #777;
  margin: 2rem;
}

main {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

a:link{
  color: #65CCB8;
}

.anchor-container {
  background-color: #302F2F;
  margin: 1.3rem;
  height: 4.5rem;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  color: #5B5337;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

h4 {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  margin-left: 1.5rem;
 }

.circle {
  height: 7rem;
  width: 7rem;
  margin: 1.5rem 0 0 1.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.bottom-number {
  color: #822d66;
  font-size: 3rem;
  margin: 1.3rem;
}
/*main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}*/

/*the eight differnt cards, by class*/
.one {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.one-top {
  background-image: url("images/violin.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
}

.one-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.two {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.two-top {
  background-image: url("images/synth.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
}

.two-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.three {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.three-top {
  background-image: url("images/rhodes.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
}

.three-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.four {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.four-top {
  background-image: url("images/epiphone.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
}

.four-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.five {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.five-top {
  background-image: url("images/rickenbackerbass.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
}

.five-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.six {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.six-top {
  background-image: url("images/wurlitzer.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
}

.six-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.seven {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.seven-top {
  background-image: url("images/b3.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
}

.seven-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}

.eight {
  background-color: #2D6682;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.eight-top {
  background-image: url("images/glockenspiel.jpg");
  background-size: cover;
  height: 17rem;
  width: 100%;
}

.eight-content{
  width: 100%;
  text-align: left;
  color: ghostwhite;
  padding-left: 1rem;
}
@media screen and (min-width: 550px){
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
  }
}

@media screen and (min-width: 950px){
  main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
  }
}
